{% extends "template.njk"%}

{% block head%}
    <title>Sobre | Futebol Geográfico</title>
{% endblock %}

{% block content%}
    <div id="wrapper">
        <img src="/BOLOTA.png" alt="Logo Futebol Geográfico">
        <h1>Futebol Geográfico</h1>
        <h2>Olhando para o Futebol através da Geografia</h2>
        <ul>
            <li>Globalização</li>
            <li>Paisagem</li>
            <li>Geografia Urbana</li>
            <li>História do Brasil</li>
        </ul>
    </div>

    <div id="links" class="links-footer">
        <a href="https://instagram.com/futebolgeografico" target="_blank">Instagram</a>
        <a href="https://futebolgeografico.medium.com/" target="_blank">Medium</a>
    </div>
{% endblock %}