{% extends "template.njk"%}

{% block head%}
    <title>{{item.title}}</title>>
{% endblock %}

{% block content%}
    <div class="page-title">
        <h1>{{item.title}}</h1>
    </div>

    <div class="posts">

        
        <div class="post" id="{{item.id}}">
            <div class="card-image">
                <img src="/{{item.file_name}}.png" alt="Imagem da Publicação {{item.title}}">
            </div>
            <div class="card-content">
                <p>{{item.title}}</p>
            </div>
            <div class="card-info">
                <p>{{item.author}}</p>
                <p class="card-time">
                    {{item.duration}}
                </p>
            </div>
        </div>
        
    </div>

    <script src="/post-script.js"></script>

{% endblock %}