{% extends "template.njk"%}

{% block head%}
    <title>Publicações | Futebol Geográfico</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content%}
    <div class="page-title">
        <h1>Conteúdos</h1>
    </div>

    <div class="cards">

        {% for item in items%}
        <div class="card" id="{{item.id}}">
            <div class="card-image">
                <img src="/{{item.file_name}}.png" alt="Imagem da Publicação {{item.title}}">
            </div>
            <div class="card-content">
                <p>{{item.title}}</p>
            </div>
            <div class="card-info">
                <p>{{item.author}}</p>
                <p class="card-time">
                    {{item.duration}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-icons">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="max-modal">
                    <i class="material-icons">launch</i>
                </a>
            </div>


            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/contentscript.js"></script>
{% endblock %}